---
import Header from '../components/Header.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
    <!-- <Footer /> -->
    <style is:global>
      :root {
        --accent: 58, 168, 234;
        --accent-light: 204, 232, 250;
        --accent-dark: 10, 66, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-dark)) 30%,
          black 60%
        );
        --font-color: 19, 31, 51;
        /* --background: #ddd0c8; */
        --background: #f3f0eb;
      }
      .dark {
        --font-color: 255, 255, 255;
        --background: #13151a;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      body {
        font-family: system-ui, sans-serif;
        /* background: #13151a; */
        color: rgb(var(--font-color));
        background: var(--background);
        background-size: 224px;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
